<div class="full-width flex column back" id="home">
    <div class="space-between-center relative flex full-width toolbar">
        <div class="border-box flex row padding-5px full-width">
            <img class="round" src="../../../assets/logo-removebg-preview (3).png" alt="logo" width="20%">
            <div class="row flex space-between-center showNone1 gap-4em">
                <h3 class="no-margin pointer brown" (click)="scrollTo('home')">Home</h3>
                <h3 class="no-margin pointer brown" (click)="scrollTo('about')">About</h3>
                <h3 class="no-margin pointer brown" (click)="scrollTo('menu')">Menu</h3>
                <h3 class="no-margin pointer brown" (click)="scrollTo('gallery')">Gallery</h3>
                <h3 class="no-margin pointer brown" (click)="scrollTo('contact')">Social</h3>
                <h3 class="no-margin pointer brown" (click)="scrollTo('about')">Contact Us</h3>
            </div>
        </div>
        <div class="half-width text-align-right show none">
            <mat-icon class="white padding-10px xx-large pointer" (click)="openMenu()">menu</mat-icon>
        </div>
        <div class="absolute top-01 showNone1 flex padding-10px border-box light-caramel-bg center-center white row">
            <button mat-button class="black" (click)="goToBooking()"><mat-icon>event</mat-icon> Book Now</button>     
        </div>
    </div>
    <div class="banner white bot">
        <h2>Welcome to <br><span class="light-caramel" id="typewriter-text"></span></h2>
    </div>
</div>
<div class="about-section light-caramel-bg" id="about">
    <!-- <h3 class="text-center">About Us</h3> -->
    <div class="about-content">
        <div class="text-container">
            <p>
                Welcome to <strong>1947 on Vilakazi Street</strong>, where history, culture, and flavour come together in the heart of Soweto. 
                Nestled on the iconic Vilakazi Street, our restaurant is a tribute to the township’s **rich heritage and vibrant spirit**. 
            </p>
            <p>
                Named after the pivotal year <strong>1947</strong>, we offer more than just a dining experience—we celebrate **community, tradition, and 
                local flavours with a modern touch**. Every dish is crafted to honour Soweto’s legacy while creating new memories. 
            </p>
            <p>
                Whether you're here for a **family gathering, authentic cuisine, or to soak in the energy** of Vilakazi Street, we promise an 
                **unforgettable experience**. Join us as we celebrate the past, savour the present, and create a legacy—one plate at a time.
            </p>
        </div>
        <div class="half-width flex column">
            <div class="contact-info">
                <h4 class="no-margin"><strong>PHONE:</strong> </h4>
                <p>011 258 4463</p>
                <h4 class="no-margin"><strong>HOURS:</strong> </h4>
                <p><strong>Tue - Sun</strong> 12:00 PM - 22:00 PM</p>
                <h4 class="no-margin"><strong>EMAIL:</strong> </h4>
                <p>
                    <a class="no-deco" href="mailto:bookings@1947onvilakazi.co.za"> bookings&#064;1947onvilakazi.co.za</a>
                    <a class="no-deco" href="mailto:admin@1947vilakazistreet.co.za"> admin&#064;1947onvilakazi.co.za</a>
                </p>
                <h4 class="no-margin"><strong>LOCATION:</strong> </h4>
                <p>
                    <a class="no-deco" href="https://www.google.com/maps/search/?api=1&query=7156+Vilakazi+Street%2C+Soweto%2C+Johannesburg%2C+Gauteng+1804%2C+South+Africa" target="_blank">
                        7156 Vilakazi Street, Soweto, Johannesburg, Gauteng 1804, South Africa
                    </a>
                </p>
            </div>
        </div>
        <div class="full-width flex center-center">
            <div class="video-container">
                <video muted autoplay loop playsinline>
                    <source src="../../../assets/WhatsApp Video 2025-01-20 at 18.43.56_9c6153fa.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
<!-- Menu Section -->
<div class="menu-section" id="menu">
    <h3 class="text-center">Our Menu</h3>
    <div class="image-gallery">
        <img src="../../../assets/menu0.jpg" alt="start" (click)="openImageDialog('../../../assets/menu0.jpg')">
        <img src="../../../assets/menu-item-1.jpg" alt="Delicious Dish 1" (click)="openImageDialog('../../../assets/menu-item-1.jpg')">
        <img src="../../../assets/menu-item-2.jpg" alt="Delicious Dish 2" (click)="openImageDialog('../../../assets/menu-item-2.jpg')">
        <img src="../../../assets/menu-item-3.jpg" alt="Delicious Dish 3" (click)="openImageDialog('../../../assets/menu-item-3.jpg')">
    </div>
</div>
<!-- Drinks Section -->
<div class="drinks-section light-caramel-bg" id="drinks">
    <div class="image-gallery">
        <img src="../../../assets/drink-1.jpg" alt="Refreshing Drink 1" (click)="openImageDialog('../../../assets/drink-1.jpg')">
        <img src="../../../assets/drink-2.jpg" alt="Refreshing Drink 2" (click)="openImageDialog('../../../assets/drink-2.jpg')">
        <img src="../../../assets/drink-3.jpg" alt="Refreshing Drink 3" (click)="openImageDialog('../../../assets/drink-3.jpg')">
        <img src="../../../assets/drink-4.jpg" alt="Refreshing Drink 4" (click)="openImageDialog('../../../assets/drink-4.jpg')">
        <img src="../../../assets/drink-5.jpg" alt="Refreshing Drink 5" (click)="openImageDialog('../../../assets/drink-5.jpg')">
        <img src="../../../assets/drink-6.jpg" alt="Refreshing Drink 6" (click)="openImageDialog('../../../assets/drink-6.jpg')">
        <img src="../../../assets/drink-7.jpg" alt="Refreshing Drink 7" (click)="openImageDialog('../../../assets/drink-7.jpg')">
    </div>
</div>

<!-- gallery Section -->
<div class="menu-section" id="gallery">
    <h3 class="text-center">Gallery</h3>
    <div class="image-gallery1">
        <div class="container">
            <app-slider [slides]="slides"></app-slider>
         </div>
    </div>
</div>

<!-- Contact Us Section -->
<div class="contact-section light-caramel-bg" id="contact">
    <h3 class="text-center">Location</h3>
    <div class="contact-content">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.5119474741246!2d27.903665798245758!3d-26.238675772223335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a7481455970d%3A0x2bc24e5916507df3!2s7156%20Vilakazi%20St%2C%20Orlando%20West%2C%20Soweto%2C%201804!5e0!3m2!1sen!2sza!4v1738364312906!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="flex column half-width make100w center-center">
            <p>Follow our social pages to stay updated.</p>
            <img src="../../../assets/logo-removebg-preview (3).png" alt="logo" width="100%"><br>
            <div class="flex center-center gap-1em half-width make100w">
                <!-- <div>
                    <a class="black no-decoration" href="https://www.facebook.com/people/1947-on-Vilakazi-Street/100069051085667/"><i class="fa fa-facebook" style="font-size:35px"></i></a>
                </div> -->
                <div>
                    <a class="black hover1 no-decoration" href="https://www.instagram.com/1947onvilakazistreet/"><i class="fa fa-instagram" style="font-size:35px"></i></a>
                </div>
                <div class="flex padding-10px border-box light-caramel-bg center-center white row">
                    <h3 class="black hover1 flex center-center no-margin x-large pointer" (click)="goToBooking()"> <mat-icon>events</mat-icon>Book Now</h3>     
                </div>
            </div>
        </div>
    </div>
</div>