<div class="menu-overlay">
  <button class="close-button" (click)="dialogRef.close()">×</button>

  <div class="menu-items">
<button mat-menu-item (click)="scrollTo('home')">Home</button>
<button mat-menu-item (click)="scrollTo('about')">About</button>
<button mat-menu-item (click)="scrollTo('menu')">Menu</button>
<button mat-menu-item (click)="scrollTo('contact')">Socials</button>
<button mat-menu-item (click)="scrollTo('gallery')">Gallery</button>
<button mat-menu-item (click)="scrollTo('contact')">Contact Us</button>
<button mat-menu-item (click)="goToBooking()"><mat-icon>event</mat-icon> Book Now</button> 

  </div>
</div>